In [1]:
import oe_anomaly
import pandas as pd

In [2]:
GROUP = ["A", "B", "C", "D", "E", "F"]
NUMERATOR_NO = [2, 6, 10, 2, 5, 0]
DENOMINATOR_NO = [3, 3.3, 2, 0.5, 8, 10]
TARGET_NO = [0.8, 0.5, 0.8, 0.8, 0.7, None]

df_test = pd.DataFrame({
    "GROUP": GROUP,
    "NUMERATOR_NO": NUMERATOR_NO,
    "DENOMINATOR_NO": DENOMINATOR_NO,
    "TARGET_NO": TARGET_NO
})

In [3]:
df_test

  GROUP  NUMERATOR_NO  DENOMINATOR_NO  TARGET_NO
0     A             2             3.0        0.8
1     B             6             3.3        0.5
2     C            10             2.0        0.8
3     D             2             0.5        0.8
4     E             5             8.0        0.7
5     F             0            10.0        NaN

In [4]:
df_out = oe_anomaly.oe_anomaly(df_test, "NUMERATOR_NO", "DENOMINATOR_NO", "TARGET_NO" )
df_out

,GROUP,NUMERATOR_NO,DENOMINATOR_NO,TARGET_NO,OE_RATIO,OE_IND,LCL_NO,UCL_NO,CENTER_NO,VIOL_IND,VIOL_DSC,CENTER_METHOD
0,A,2,3.0,0.8,0.666667,0,0.062852,1.910724,0.8,0,No,Target
1,B,6,3.3,0.5,1.818182,1,0.654380,3.564023,0.5,1,Yes,Target
2,C,10,2.0,0.8,5.000000,1,2.381207,8.579158,0.8,1,Yes,Target
3,D,2,0.5,0.8,4.000000,1,0.377114,11.464345,0.8,0,No,Target
4,E,5,8.0,0.7,0.625000,0,0.197219,1.292872,0.7,0,No,Target
5,F,0,10.0,1.0,0.000000,0,0.096036,0.096036,1.0,1,Yes,Center